.news-card-hero.fixed {
    width: 700px;
    height: 400px;
    position: relative;
    overflow: hidden;
    display: block;
}

.news-card-hero.fixed img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Tablet */
@media (max-width: 1024px) {
    .news-card-hero.fixed {
        max-width: 50%;
    }
}

/* Mobile */
@media (max-width: 768px) {
    .news-card-hero.fixed {
        aspect-ratio: 4 / 2;
        /* better for phones */
    }

    .news-card-hero.fixed img {
    width: 50%;
    height: 50%;
    object-fit: cover;
}
}

/* Small Mobile */
@media (max-width: 480px) {
    .news-card-hero.fixed {
        aspect-ratio: 1 / 1;
        /* square look */
    }
}